@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap');

* {
	box-sizing: border-box;
}
html {
	letter-spacing: 1.2px;
	/* background: #333; */
	background: #7F7FD5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
html,
body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

body {
	padding: 20px;
	margin: 0 auto;
}

.content {
	width: 1080px;
	height: 600px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 5% 20% 75%;
	grid-template-columns: 100%;
}

.on {
	background-color: rgba(29, 33, 41, .7);
	transition: background-color 0.5 ease;
}

.off {
	background-color: rgba(83, 80, 107, .7);
	transition: background-color 0.5 ease;
}

.title,
.power-switch,
.settings {
	display: flex;
	/* width: 100%; */
	flex-flow: row nowrap;
	justify-content: center;
	/* align-items: stretch; */
}

.t-item,
.ps-item,
.s-item {
	flex-grow: 1;
	width: 100%;
	padding: 10px 10px 20px;
}

.t-item {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-weight: bold;
	color: rgb(243, 234, 217);
	border-right: 1px solid #FAFAFA;
}

.ps-item {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	transition: background-color 0.5 ease;
	border-right: 1px solid #FAFAFA;
}

.s-item {
	display: flex;
	flex-flow: column wrap;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: 1px solid #FAFAFA;
}

.bri,
.color {
	display: flex;
	flex-flow: column wrap;
}

.bri > span,
.color > span {
	color: rgb(243, 234, 217);
}

.bri {
	margin-top: 10px;
}
.color {
	margin-top: 20px;
	width: 50%;
}

.color > span {
	padding-bottom: 10px;
}

.bri-slider {
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-appearance: none;
	width: 50%;
	height: 6px;
	border-radius: 5px;
	outline: none;
	opacity: .7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	background: #333;
}

.bri-slider:hover {
	opacity: 1;
}

.bri-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
  	appearance: none;
	cursor: pointer;
	background: #FAFAFA;
	width: 14px;
	height: 14px;
	border: 0;
	border-radius: 50%;

}

.bri-slider::-moz-range-thumb {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
}

input[type="color"] {
	border-radius: 100%;
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 100%;
}

.colorInput {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

label[id^='color-input-label-'] {
	color: rgb(243, 234, 217);
	margin-left: 20px;
}







/* 
#living-title-box {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	
}

#kitchen-title-box {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	
}

#desk-title-box {
	grid-column: 3 / 4;
	grid-row: 1 / 2;	
}

#living-switch-box {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	
}

#kitchen-switch-box {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	
}

#desk-switch-box {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

#living-settings-box {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	
}

#kitchen-settings-box {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

#desk-settings-box {
	grid-column: 3 / 4;
	grid-row: 3 / 4;	
}

#living-title-box,
#kitchen-title-box,
#desk-title-box {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-right: 1px solid #FAFAFA;
	color: #FAFAFA;
	font-weight: bold;
	transition: background-color 0.5 ease;
}

#living-settings-box,
#kitchen-settings-box,
#desk-settings-box {
	display: flex;
	flex-direction: column;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: 1px solid #FAFAFA;
	color: #FAFAFA;
	font-weight: bold;
	transition: background-color 0.5 ease;
}

#living-switch-box,
#kitchen-switch-box,
#desk-switch-box {
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			flex-direction: column;
	-webkit-box-pack: center;
			justify-content: center;
	-webkit-box-align: center;
			align-items: center;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	transition: background-color 0.5 ease;
	border-right: 1px solid #FAFAFA;
} */

.on {
	background-color: rgba(29, 33, 41, .7);
	transition: background-color 0.5 ease;
}

.off {
	background-color: rgb(83, 80, 107, .7);
	transition: background-color 0.5 ease;
}

.ps-item {
	--color-invert: #FFFFFF;
	--width: 158px;
	--height: 150px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	/* width: var(--width);
	height: var(--height); */
}

.ps-item .button {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.ps-item .button::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background: radial-gradient(circle closest-side, var(--color-invert), transparent);
	opacity: 0;
	-webkit-filter: blur(20px);
	filter: blur(20px);
	opacity: 0;
	-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
	transition: opacity 1s ease, -webkit-transform 1s ease;
	transition: opacity 1s ease, transform 1s ease;
	transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ps-item .button .power-on,
.ps-item .button .power-off {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	fill: none;
	stroke: var(--color-invert);
	stroke-width: 8px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.ps-item .button .power-on .line,
.ps-item .button .power-off .line {
	opacity: .2;
}

.ps-item .button .power-on .circle,
.ps-item .button .power-off .circle {
	opacity: .2;
	-webkit-transform: rotate(-58deg);
	transform: rotate(-58deg);
	-webkit-transform-origin: center 80px;
	transform-origin: center 80px;
	stroke-dasharray: 220;
	stroke-dashoffset: 40;
}

.ps-item .button .power-on {
	-webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
	filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
}

.ps-item .button .power-on .line {
	opacity: 0;
	-webkit-transition: opacity .3s ease 1s;
	transition: opacity .3s ease 1s;
}

.ps-item .button .power-on .circle {
	opacity: 1;
	stroke-dashoffset: 220;
	-webkit-transition: stroke-dashoffset 1s ease 0s, -webkit-transform 0s ease;
	transition: stroke-dashoffset 1s ease 0s, -webkit-transform 0s ease;
	transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
  	transition: transform 0s ease, stroke-dashoffset 1s ease 0s, -webkit-transform 0s ease;
}

.ps-item input {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	cursor: pointer;
	opacity: 0;
}

.ps-item input:checked + .button::after {
	opacity: 0.15;
	transform: scale(2) perspective(1px) translateZ(0);
	backface-visibility: hidden;
	transition: opacity .5s ease, -webkit-transform .5s ease;
	transition: opacity .5s ease, transform .5s ease;
	transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s
}

.ps-item .button .power-on,
.ps-item .button .power-off {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  fill: none;
  stroke: var(--color-invert);
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.ps-item .button .power-on .line,
.ps-item .button .power-off .line {
  opacity: .2;
}
.ps-item .button .power-on .circle,
.ps-item .button .power-off .circle {
  opacity: .2;
  -webkit-transform: rotate(-58deg);
          transform: rotate(-58deg);
  -webkit-transform-origin: center 80px;
          transform-origin: center 80px;
  stroke-dasharray: 220;
  stroke-dashoffset: 40;
}
.ps-item .button .power-on {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
          filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
}
.ps-item .button .power-on .line {
  opacity: 0;
  -webkit-transition: opacity .3s ease 1s;
  transition: opacity .3s ease 1s;
}
.ps-item .button .power-on .circle {
  opacity: 1;
  stroke-dashoffset: 220;
  -webkit-transition: stroke-dashoffset 1s ease 0s, -webkit-transform 0s ease;
  transition: stroke-dashoffset 1s ease 0s, -webkit-transform 0s ease;
  transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
  transition: transform 0s ease, stroke-dashoffset 1s ease 0s, -webkit-transform 0s ease;
}
.ps-item input {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.ps-item input:checked + .button:after {
  opacity: 0.15;
  -webkit-transform: scale(2) perspective(1px) translateZ(0);
          transform: scale(2) perspective(1px) translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}
.ps-item input:checked + .button .power-on,
.ps-item input:checked + .button .power-off {
  -webkit-animation: click-animation .3s ease forwards;
          animation: click-animation .3s ease forwards;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.ps-item input:checked + .button .power-on .line,
.ps-item input:checked + .button .power-off .line {
  -webkit-animation: line-animation .8s ease-in forwards;
          animation: line-animation .8s ease-in forwards;
}
.ps-item input:checked + .button .power-on .circle,
.ps-item input:checked + .button .power-off .circle {
  -webkit-transform: rotate(302deg);
          transform: rotate(302deg);
}
.ps-item input:checked + .button .power-on .line {
  opacity: 1;
  -webkit-transition: opacity .05s ease-in .55s;
  transition: opacity .05s ease-in .55s;
}
.ps-item input:checked + .button .power-on .circle {
  -webkit-transform: rotate(302deg);
          transform: rotate(302deg);
  stroke-dashoffset: 40;
  -webkit-transition: stroke-dashoffset .4s ease .2s, -webkit-transform .4s ease .2s;
  transition: stroke-dashoffset .4s ease .2s, -webkit-transform .4s ease .2s;
  transition: transform .4s ease .2s, stroke-dashoffset .4s ease .2s;
  transition: transform .4s ease .2s, stroke-dashoffset .4s ease .2s, -webkit-transform .4s ease .2s;
}

@-webkit-keyframes line-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  85% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes line-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  85% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes click-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes click-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
